*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}
header p{
    font-size: 20px;
}

.pads{
    background-color: lightblue;
    width: 100%;
    display: flex;
}

.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;

}

.pad1{
    background: lightseagreen;
}
.pad2{
    background: #b1acac;
}
.pad3{
    background: rgb(236, 113, 12);
}
.pad4{
    background: rgb(255, 120, 120);
}
.pad5{
    background: rgb(111, 246, 0);
}
.pad6{
    background: rgb(188, 255, 112);
}
.visual > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
  }
  
  @keyframes jump {
    0% {
      bottom: 0%;
      left: 10%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
  
    100% {
      bottom: 00%;
      left: 90%;
    }
  }